.card {
  margin: 0.5rem 0.5rem 5rem 0.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 0.05rem solid black;
  border-radius: 0.5rem;
  width: 350px;
  height: auto;
  gap: 1rem;
}

.description-body {
  overflow: scroll;
  overflow-x: hidden;
  height: 15vh;
  margin: 0.5rem;
}
.description-body::-webkit-scrollbar {
  width: 1em;
}

.description-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(4, 73, 151, 0.3);
}

.description-body::-webkit-scrollbar-thumb {
  background-color: rgb(74, 134, 245);
  outline: 1px solid rgba(112, 128, 144, 0.404);
}

.card:hover {
  transform: scale(1.05);
}
.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.car-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-body > h5 {
  color: rgb(2, 2, 46);
  margin: 0 0 1rem 1rem;
}
.profile-container {
  display: flex;
  width: 100%;
  height: 50%;
  gap: 0.25rem;
  margin: 0 1rem 0 0.5rem;
}
.profile-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.profile-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
}
.profile-name {
  font-size: large;
}
.Prof-conatiner {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}
.card-body > h6 {
  color: rgb(2, 2, 46);
  font-size: larger;
  font-weight: bolder;
  margin: 0 0 0.5rem 0.5rem;
}

.caprd-body > {
  text-align: justify;
  color: rgb(15, 15, 182);
  margin: 0 0.2rem 0 0.5rem;
}
.habits {
  color: rgb(5, 54, 14);
  margin: 0 0.2rem 0 0.5rem;
}
.card-description {
  color: rgb(7, 7, 190);
  font-size: 15px;
}
.button-container {
  padding: 0;
  margin: 0;
}
.whatsapp-container {
  padding: 0;
  margin: 0;
}
.whatsapp-button {
  color: rgb(32, 12, 216);
  width: 50%;
  padding: 0;
  margin: 0;
  object-fit: fill;
}

.contact-button {
  color: rgb(32, 12, 216);
  font-size: 1.5rem;
  width: 50%;
  padding: 0 1rem;

  width: 100%;
  border: 0.02rem solid rgb(32, 12, 216);
  border-radius: 0 0 0.5rem 0.5rem;
}

.contact-button:hover {
  background-color: rgb(50, 50, 250);
  color: beige;
  border: none;
}
