.navbar {
  display: flex;
  /* flex: 20%; */
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 38, 38);
  color: beige;
  padding: 0 1rem;
  margin: 0;
  gap: 2rem;
}
.slide-title {
  text-decoration: none;
  color: inherit;
}
.menus {
  flex: 40%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: bisque;
  list-style: none;
  font-size: large;
  background-color: inherit;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  align-content: center;
  gap: 3rem;
  text-align: center;
}
li a {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}
li a:hover {
  background-color: rgb(139, 136, 133);

  height: 100%;
  width: 100%;
  color: bisque;

  justify-content: center;
}
li a:focus {
  color: rgb(184, 104, 6);
}

.search-container {
  flex: 30%;
  width: 100%;
}
.searchbar {
  width: 10rem;
}
.search-button {
  display: none;
}
.toggle-button {
  display: none;
}

@media only screen and (max-width: 850px) {
  .menus {
    display: none;
  }
  .toggle-button {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 85vw;
    top: 1.5vh;
    margin: 0.25rem 0 1rem 0;
    background-color: rgb(39, 38, 38);
    border: 2px solid whitesmoke;
    border-radius: 4px;
    font-size: larger;
  }
  .menu-icon {
    color: bisque;
  }
  #hidden {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 40vh;
    background-color: rgb(39, 38, 38);
    z-index: 4;
    margin: 0 0 0.5rem 0;
    padding: 2rem 0 0 0;
    left: 0;
    gap: 1rem;
  }
  .search-container {
    top: 0.5rem;
    left: 40vw;
    display: flex;
    align-items: center;
  }
  .searchbar {
    display: none;
  }
}
