.map-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 0.5rem 1rem 0 1rem;
  border: 0.02rem solid rgb(3, 3, 78);
  margin: 0.2rem;
}
.map > iframe {
  width: 100%;
  height: Auto;
  border: 0;
}

@media screen and (max-width: 480px) {
  .map-container {
    flex-direction: column;
    padding: 0 0 0 0.5rem;
  }
  .map > iframe {
    width: 100%;
    height: Auto;
    border: 0;
  }
}
