.about-us {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: normal;

  flex-direction: column;
  background-color: rgba(37, 37, 37, 0.897);
}

.about-us > h2 {
  color: rgb(218, 118, 5);
  margin-left: 0.5rem;
}
.about-us > h3 {
  color: whitesmoke;
  margin-left: 0.5rem;
}
.tagline {
  color: whitesmoke !important;
  margin-left: 0.5rem;
}

.about-us > h5 {
  color: rgb(12, 187, 12);
  margin-left: 0.5rem;
}

.about-us > p {
  color: white;
  background-color: rgb(131, 106, 5);
  margin-left: 0.5rem;
  padding: 0.5rem;
}
